code.badcop.live {
    # Serve static files from the Vite build
    root * /srv
    route {
        reverse_proxy /api/* express-server:8000
        file_server
        try_files {path} /index.html
    }
}
